<!DOCTYPE HTML>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Template: Starting Point</title>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    rel="stylesheet"
    type="text/css"
  />
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header class = "wrapper">
    <h1 class = "text-center">John Clare</h1>
    <h2 class = "text-center"> Software Developer <h2>    
  </header> 
  <main class = "wrapper" >
    <article class = "wrapper">
      <h3 class = "text-center"> <strong>Hello!</strong> This is John!</h3> 
      <hr>
      <p>I am currently living in Portland, Oregon. I am studying and training to become a oftware developer. </p>
      <br>
      <p > I hope you enjoy the website and please take a look around</p>
      <hr>
      <section>
        <h3 class= "text-center"> <strong> About Me </strong></h3>
      </section>
    </article>
  </main>
  <footer class = "wrapper">
    <p class = "text-center">
      <a href = "https://github.com/jclare93">John Clare</a>
    <p>
  </footer>
  <script src="script.js">
	</script>
</body>
